<h1>Projects</h1>

<div class="existing-comments">
<table>
  <tr>
    <th>Name</td>
    <th>Status</td>
    <th>Created By</td>
    <th>Last Updated At</td>
  </tr>
  <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, project %></td>
      <td><%= project.status %></td>
      <td><%= project.user.name %></td>
      <td><%= project.updated_at %></td>
    </tr>
  <% end%>
</table>
</div>


